<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    recusandae, omnis delectus corporis sequi facere temporibus harum iure
    tempore nisi sint similique quasi asperiores magni hic rerum enim repellat
    numquam. Sint tenetur porro sapiente veniam culpa rem iusto, cum ad
    accusantium quidem eaque provident mollitia in eos maiores libero! Porro
    rerum ab distinctio? Consectetur, labore eos. Reprehenderit pariatur
    voluptatem optio quia tempora consectetur quisquam non? Sunt distinctio
    placeat porro, nemo vero quas alias dolor autem at, quo ipsum impedit
    repellendus odit esse deleniti optio iure nihil sequi, hic aspernatur quidem
    corrupti. Facilis quae excepturi ducimus saepe ad incidunt totam
    praesentium?
  </div>
</div>
